@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{

}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{

}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
    .main_nav
    {
        display: none;
    }
    .top_bar_contact_list li i,
    .top_bar_contact_list li > div,
    .login_button a
    {
        font-size: 12px;
    }
    .btn_area
    {
        width: 140px;
    }
    .hamburger
    {
        display: inline-block;
        margin-left: 33px;
    }

    .brand_col:not(:last-child)
    {
        margin-bottom: 30px;
    }
    .business_background
    {
        background-image: url("../img/bg-mobile.png");
        background-size: cover, cover;
        background-position: center;
    }
    .business_background_w
    {
        width: 100%;
        height: 100%;
        background-image: url("../img/bg02-mobile.png");
        background-size: contain, cover;
        background-position: center;
    }
    .business_icon img
    {
        display: block;
        margin: 0 auto;
    }
    .footer_col:not(:last-child)
    {
        margin-bottom: 60px;
    }
    .copyright
    {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cr_list
    {
        margin-top: 10px;
    }

    .cr_list li {
        padding: 10px;
        font-size: 11px;
    }
    .cr_list li img
    {
        display: block;
        margin: 0 auto;
    }
    .copyright div,
    .cr_list li a
    {
        font-size: 13px;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
    .logo
    {
        margin-top: -15px;
        width: 110px;
        height: auto;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .header_content
    {
        height: 50px;
    }
    .header.scrolled .logo
    {
        margin-top: 30px;
        width: 70px;
    }
    .home_slider_background_one
    {
        background-image:url("../img/01-mobile.png");
    }
    .home_slider_background_two
    {
        background-image:url("../img/02-mobile.png");
    }
    .home_slider_background_three
    {
        background-image:url("../img/03-mobile.png");
    }
    .business_background
    {
        background-image: url("../img/bg-mobile.png");
        background-size: cover, cover;
        background-position: center;
    }
    .business_background_w
    {
        width: 100%;
        height: 100%;
        background-image: url("../img/bg02-mobile.png");
        background-size: contain, cover;
        background-position: center;
    }
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
    .logo
    {
        margin-top: 50px;
        width: 100px;
        height: auto;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .header.scrolled .logo
    {
        margin-top: 100px;
        width: 70px;
        height: auto;
    }
    .top_bar
    {
        display: none;
    }
    .home_slider_background_one
    {
        content: url("../img/01-mobile.png");
    }
    .home_slider_background_two
    {
        content: url("../img/02-mobile.png");
    }
    .home_slider_background_three
    {
        content: url("../img/03-mobile.png");
    }
    .business_icon img
    {
        display: block;
        margin: 0 auto;
    }
    .business_box_title,
    .business_box_subtitle
    {
        display: block;
        margin: 0 auto;
    }
    .cr_text
    {
        text-align: center;
    }
    .cr_text li
    {
        text-align: center;
    }
    .copyright div span {
        display: inline-block;
    }
    .copyright div b {
        display: none;
    }
    .cr_list
    {
        text-align: center;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
    h2
    {
        font-size: 24px;
    }
    p
    {
        font-size: 13px;
    }
    .menu
    {
        width: 100%;
        right: -100%;
    }
    .home_slider_background_one
    {
        content:url("../img/01-mobile.png");
    }
    .home_slider_background_two
    {
        content:url("../img/02-mobile.png");
    }
    .home_slider_background_three
    {
        content:url("../img/03-mobile.png");
    }
    .business_background
    {
        background-image: url("../img/bg-mobile.png");
        background-size: cover, cover;
        background-position: center;
    }
    .business_background_w
    {
        width: 100%;
        height: 100%;
        background-image: url("../img/bg02-mobile.png");
        background-size: contain, cover;
        background-position: center;
    }
    .business_box_title,
    .business_box_subtitle
    {
        display: block;
        margin: 4px auto;
    }
    .contact_us
    {
        text-align: center;
    }
    .hr.contact_line
    {
        text-align: center;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{

}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{

}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{

}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}